<!-- Модальное окно -->
							<div id='translator-modal-{{translator.id}}' class="modal">
								<input class="modal-open" id="modal-{{loop.index}}" type="checkbox" hidden>
								<div class="modal-wrap" aria-hidden="true" role="dialog">
									<label class="modal-overlay" for="modal-{{loop.index}}"></label>
									<div class="modal-dialog">
										<div class="modal-header">
											<h2>Booking</h2>
											<label class="btn-close" for="modal-{{loop.index}}" aria-hidden="true">×</label>
										</div>
										<div class="modal-body">
											<div class="container-book">
												<div class="avatar avatar-first">
													{%if count>=1 %}
													<img src="{{url_for('static', filename='img/'+service.images[0].path[:service.images[0].path.rfind('.')]+'_thumb'+service.images[0].path[service.images[0].path.rfind('.'):])}}" alt="">
													{%endif%}
												</div>
												<div class="avatar avatar-last">
													{%if translator.images_amount>=1 %}
													<img src="{{url_for('static', filename='img/'+translator.images[0].path[:translator.images[0].path.rfind('.')]+'_thumb'+translator.images[0].path[translator.images[0].path.rfind('.'):])}}" alt="">
													{%endif%}
												</div>
												<p>You are booking our translator <b>{{translator.first_name+' '+translator.last_name}}</b> for <b>{{service.name}}</b>. Please accept booking and we will contact you via email <b>{{ current_user.email }}</b></p>
											</div>
										</div>
										<div class="modal-footer">
											<button translator='{{translator.last_name}}' translator-id='{{translator.id}}' class="send-mail-button btn btn-primary" for="modal-{{loop.index}}">Accept</button>
										</div>
									</div>
								</div>
							</div>